@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 17px
}

#cycling-group {
    height: 100px;
    width: 50%;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    color: black;
}

/*headeings and logo*/
h1 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0%;
    margin: 0%;
    color:rgb(231, 206, 206)
}
h2 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0%;
    margin: 0%;
    color:rgb(0, 0, 0)
}

#logo {
    float: left;
    font-size: 280%;
}

nav ul {
    list-style: none;
    background-color: #464646;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

nav li{
    font-size: 1.2em;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}

nav a:hover {
    background-color: rgb(83, 80, 80); 
    color: #4a4a4f;
}

h2 {
    text-align: center;
}

#club-ethos{
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: center;
}

#center-about {
    width: 33%;
    margin: 0% auto;
}

#center-about-heading {
    padding-top: 30px;
    width: 33%;
    margin: 0;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

form {
    border: 5px solid #6e6d6d; 
}
 
form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(89, 83, 83, 0.6);
    max-width: 400px;
    position: absolute;
    right: 10%;
    padding: 30px;
}

form > h2 {
    color: #fafafa;
    margin-bottom: 30px;
}

 #logo-cycle {
    padding-top: 30px;
    width: 33%;
    float: right;
    color: rgb(0, 0, 0);
    font-size: 200%;
 }